.sidebar {
    width: 18%;
    min-height: 100vh;
    border: 1.5px solid #a9a9a9;
    border-top: 0;
    font-size: max(1vw, 10px);
    transition: all 0.3s ease-in-out;
}

.sidebar-options {
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-option {
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #a9a9a9;
    border-right: 0;
    padding: 8px 10px;
    border-radius: 3px 0px 0px 3px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.sidebar-option.active{
    background-color: #fff0ed;
    border-color: tomato;
}


@media (max-width: 900px) {
    .sidebar {
        width: 60px;
    }

    .sidebar-options {
        padding-left: 10px;
    }

    .sidebar-option {
        justify-content: center;
        padding: 8px;
    }

    .sidebar-option p {
        display: none; 
    }

    .sidebar-option:hover {
        background-color: rgba(169, 169, 169, 0.3);
    }
}

@media (max-width: 600px) {
    .sidebar {
        width: 50px;
    }

    .sidebar-option {
        padding: 6px;
    }
}
